<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="fatelwV1SoapBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="fatelwV1SoapBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://fatturapa-test.zucchetti.it/test/services/fatelwV1" binding="basicHttpBinding" bindingConfiguration="fatelwV1SoapBinding" contract="DigitalHubService.fatelwV1" name="fatelwV1"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
